<footer id="footer" class="footer">
    <div class="container">
        <div class="row mb-lg-4">
            <div class="col mt-lg-4">
                <img src="/static/img/AmCheck.png" alt="AmCheck" class="img-fluid mx-auto d-none d-md-block" style="width: 25%; height: auto;">
                <img src="/static/img/AmCheck.png" alt="AmCheck" class="img-fluid mx-auto d-block d-md-none" style="width: 50%; height: auto;">
            </div>
        </div>
        <div class="row mb-lg-4 text-start">
            <p data-translate="footerText1">AmCheck es una aplicación web que permite a los usuarios analizar la veracidad de las reseñas de Amazon. Para ello, se analizan las reseñas de los productos y se muestra un porcentaje de veracidad.</p>
            <p data-translate="footerText2"><strong>IMPORTANTE:</strong> El analisis de las reseñas es realizado por un modelo de Machine Learning, por lo que los resultados pueden no ser 100% precisos.</p>
            <p data-translate="footerText3">El modelo ha sido entrenado con un conjunto de datos de reseñas de Amazon, por lo que puede no ser capaz de detectar todas las reseñas falsas o engañosas. Sin embargo, se ha diseñado para ser lo más preciso posible y proporcionar resultados útiles a los usuarios.</p>
        </div>
    </div>
    <div class="container">
        <div class="row mb-lg-4 text-center">
            <p data-translate="footerText4">Este proyecto es el resultado del TFG del Grado de Ingeniería Informática de la Universidad de Cádiz.</p>
            <p data-translate="footerText5"><strong>Pablo Vilar Bustillo. 2025</strong></p>
        </div>
    </div>
  </footer>